

.carousel-container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.carousel {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.card {
    min-width: 300px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-description {
    font-size: 1em;
    color: #666;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    display: none; /* Oculto por padrão */
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

@media (min-width: 768px) {
    .arrow {
        display: block; /* Exibir setas em telas maiores */
    }
}
